
@{
    ViewData["Title"] = "Курсы";
}
<div class="text-center text-info">
    <h1>Курсы</h1>
</div>
<table class="table">
    <tr>
        <td>Название курса</td>
        <td>ФИО Преподавателя</td>
        <td>Дата начала курса</td>
        <td>Цена</td>
    </tr>
    @foreach (var course in ViewBag.courses)
    {
        <tr>
            <td>@course.CourseName</td>
            <td>@course.LecturerFIO</td>
            <td>@course.StartCourse</td>
            <td>@course.Cost</td>
        </tr>
    }
</table>
