@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pay
<div class="text-left text-info">
    <h1>Оплатить курс обучения №@ViewBag.Education.Id</h1>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <p>Остаток: @ViewBag.Remain</p>
    <p>Сумма: <input type="number" min="1" max="@ViewBag.Remain" name="Model.Sum" /></p>
    <input type="hidden" name="Model.EducationId" value="@((int)ViewBag.Education.Id)" />
    <button type="submit" class="btn btn-info btn-sm">Оплатить</button>
}