@model UniversityWebClient.Models.Registration

@{
    ViewData["Title"] = "Регистрация";
}

<head>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body style="margin: 0; font-family: Roboto,San Francisco,Helvetica Neue,Helvetica,Arial; font-weight: 400; font-size: 15px; line-height: 24px;">
    <header class="header home-page-header">
        <div class="header-container">
            <div class="col">
                <a class="logo home-page-header" href="/">
                    <i class="fas fa-user-graduate" aria-hidden="true"></i>AllExpelledUniversity
                </a>
            </div>
            <div class="col">
                <span class="total-users">Отчислено уже 10 925 человек</span>
                <a class="btn sign-in" asp-controller="Client" asp-action="Auth" style="margin-right: 20px;">Войти</a>
                <a class="btn register" asp-controller="Client" asp-action="Registration">Регистрация</a>
            </div>
        </div>
    </header>
    <div class="text-center" style="color: darkturquoise;">
        <h1 class="display-4">Регистрация</h1>
    </div>
</body>
<div class="row">
    <div class="col-md-4" style="margin: 0 auto">
        <form asp-action="Registration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Логин</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIO" class="control-label">ФИО</label>
                <input asp-for="FIO" class="form-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Почта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Номер телефона</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            @Html.ValidationSummary(true, "", new { @style = "color: red" })
            <div class="form-group">
                <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
